<table class="twelve columns footer" style="border-spacing: 0; border-collapse: collapse; width: 580px; vertical-align: top; text-align: left; border-top-color: #e7e7e7; border-top-width: 1px; border-top-style: solid; Margin: 0 auto; padding: 0;">
<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
<td style="border-collapse: collapse !important; vertical-align: top; text-align: left; color: #545454; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight: normal; line-height: 21px; font-size: 14px; Margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
<h6 style="color: #545454; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold; text-align: center; line-height: 2; word-break: normal; font-size: 14px; Margin: 10px 0 0; padding: 0;" align="center">

Got a question?

</h6>
<a href="http://www.selfridges.com/content/frequently-asked-questions" target="_blank" style="color: #545454 !important; text-decoration: none; width: 250px; line-height: 35px; text-align: center; display: block; Margin: 10px auto; border: 1px solid #e7e7e7;">FAQs</a>

<a href="http://www.selfridges.com/content/contact-us" target="_blank" style="color: #545454 !important; text-decoration: none; width: 250px; line-height: 35px; text-align: center; display: block; Margin: 10px auto; border: 1px solid #e7e7e7;">Contact us</a>

<a href="http://www.selfridges.com/content/refunds-and-returns" target="_blank" style="color: #545454 !important; text-decoration: none; width: 250px; line-height: 35px; text-align: center; display: block; Margin: 10px auto; border: 1px solid #e7e7e7;">Returns</a>

<a href="http://www.selfridges.com/" target="_blank" class="shop" style="color: #545454 !important; text-decoration: none; width: 250px; line-height: 44px; text-align: center; display: block; background: #ffd603; Margin: 20px auto; border: 1px solid #ffd603;">Shop Online</a>

</td>
<td class="expander" style="border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #545454; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight: normal; line-height: 21px; font-size: 14px; Margin: 0; padding: 0;" align="left" valign="top"></td>
</tr>
</table>
</td>
</tr>
</table>